html, body{
    min-height: 100%;
}

body{
    padding: unset;
    margin: unset;
    color: #484848;
    font-size: 14px;
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.container{
    max-width: 1000px;
    margin: 30px auto;
}

.logo{
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    margin-left: 20px;
    height: 60px;
}

