
.filters{
    border: 1px solid #DDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 70px;
    width: 100%;
}

.filters button{
    background-color: #FF5A5F;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-size: 18px;
    margin-right: 30px;
    height: 48px;
    width: 20%
}

.filters button:hover{
    opacity: .90;
}