
.filters{
    border: 1px solid #DDD;
    border-radius: 4px;
    display: flex;
    align-items: center;
    /*justify-content: flex-end;*/
    height: 70px;
    width: 100%;
}

.filters button{
    background-color: #FF5A5F;
    border: none;
    border-radius: 4px;
    color: #FFF;
    font-size: 18px;
    margin-right: 30px;
    margin-left: auto;
    height: 48px;
    width: 20%
}

.filters button:hover{
    opacity: .90;
}

.filters > div:first-child{
    border-right: 1px solid #DDD;
}

.location, .amenities{
    height: 100%;
    width: 25%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 30px;
}

.filters h3{
    font-weight: 600;
    margin: 0;
}

.filters h4{
    font-weight: 400;
    font-size: 14px;
    margin: 0;
}