.places h1{
    font-size: 30px;
    display: block;
}

.places div{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.places article{
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    margin: 20px;
    padding: 20px;
    width: 390px;
}

.places article h2{
    text-align: center;
}